body{
    background-image: url(https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: "Chakra Petch";
}

a{
    color: aliceblue;
}

#header-logo{
    text-align: center;
    margin-bottom: 0px;
    font-size: 7vh;
}

.logo{
    color: #75D701;
}

#est{
    text-align: center;
    margin-top: 0px;
    font-size: 2.5vh;
}

#main-navigation{
    display: flex;
    text-decoration: none;
    justify-content: center;
}

#nav-links{
    display: flex;
    list-style-type: none;
}

.nav-button{
    padding: 20px;
    text-decoration: none;
    font-size: 1.5vw;
}

#search-bar{
    width: 300px;
    height: 30px;
    align-self: center;
    margin: 20px;
    align-self: flex-end;
}

hr{
    margin-bottom: 30px;
}

body{
    width: 70%;
    margin: auto;
}

#bar-1{
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}

#history{
    flex: 1;
    background-color: rgba(142, 192, 228, 0.5);
    border-radius: 10%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 10px;
}

#zyra-kallix{
    float: right;
    margin: 0 15px 10px 10px
    
}

h2{
    font-size: 2vw;
}

#book-of-the-month{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    background-color: rgba(142, 192, 228, 0.5);
    border-radius: 10%;
    padding: 15px;
}

#book-of-the-month-cover{
    margin-bottom: 5px;
}

#book-of-the-month-title{
    padding: 20px;
    text-decoration: none;
}

.book-of-the-month-details{
    margin: 10px;
}

#bar-2{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    background-color: rgba(142, 192, 228, 0.5);
    border-radius: 10%;
    padding: 15px;
}

#featured-books{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

.featured-book{
    flex: 1;
    flex-direction: column;
    text-align: center;
}

.book-cover{
    justify-items: center;
    padding-left: 35px;
}

.featured-book > ul > li{
    list-style-type: none;
    text-align: center;
}

.featured-book > ul > li > a{
    text-decoration: none;
    text-align: justify;
}

#bar-3{
    background-color: rgba(142, 192, 228, 0.5);
    border-radius: 10%;
    padding: 15px;
}

footer{
    display: flex;
    margin-top: 100px;
    align-items: center;
}

#footer-logo{
    text-align: center;
}

#footer-navigation{
    display: flex;
    list-style: none;
}

#footer-navigation>div>li{
    margin: 12px;
}

#footer-navigation>div>li>a{
    text-decoration: none;
    padding: 12px;
}

#copyright{
    position: absolute;
    right: 0;
    padding-right: 20px;
    padding-top: 135px;
}